<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bofællesskab</title>
    <link rel="stylesheet" href="styles/bulma/darkly/bulmaswatch_v0.7.1.min.css">
    <link rel="stylesheet" href="styles/style.css">
    
    <script src="scripts/axios/axios_v0.18.0.js"></script>
    <script defer src="scripts/fontawesome/fontawesome_solid_v5.11.2.min.js"></script>    
    <script defer src="scripts/fontawesome/fontawesome_v5.11.2.min.js"></script>   
    <script src="scripts/vue/vue_v2.5.16.js"></script> 
    <script src="scripts/vue/vue-router_v3.1.3.js"></script> 
    <script src="config.js"> type="module"</script> 
    
  </head>
  
  <body class="is-clipped">
    <div id="app"> 
        
        <section class="section">
            <div class="container has-text-centered">
                <h1 class="title is-hidden-mobile-bottommarginfix">
                    {{ pageTitle }}
                </h1>
                <p class="subtitle is-hidden-mobile">
                    {{ pageSubtitle }}
                </p>          
            </div>

            <nav class="pagination is-hidden-mobile" role="navigation" aria-label="pagination">
                <a class="pagination-previous" @click="previousweek()">Forrige uge</a>
                <a class="pagination-next" @click="nextweek()">Næste uge</a>
            </nav>

            <nav class="pagination is-visible-mobile-only" role="navigation" aria-label="pagination">
                <a class="pagination-previous" @click="previousday()">Forrige</a>
                <a class="pagination-next" @click="nextday()">Næste</a>
            </nav>

        </section>       

        <section class="section">
            <div class="tile is-ancestor">                
                <div class="meal-tile tile" v-for="(commonMeal, idx2) in commonMeals" :class="calcMealTileClass(idx2)">
                    <div class="tile is-child box" >
                        <div class="box has-text-centered meal-header-box" :class="calcMealTitleClass(commonMeal.chefs)">
                            <p class="title is-4">{{ commonMeal.dayName }}</p>
                            <p class="subtitle is-6">{{ commonMeal.dateName }}</p>                            
                        </div>

                        <div class="box meal-chef-box">                                                            
                                
                            <div class="meal-chef-row columns is-mobile is-marginless" v-for="(chef, idx) in commonMeal.chefs">                                
                                
                                <div class="column is-paddingless is-1" >
                                    <span v-show="chef.personId != null" class="icon is-small" style="vertical-align:bottom;">
                                          <i class="fas fa-check-circle"></i>
                                    </span>
                                </div>
                            
                                <div class="column is-paddingless is-10" >
                                    <div class="field">
                                        <p class="control is-expanded has-icons-left">
                                            <span class="select is-fullwidth">
                                                <select v-model="chef.personId" @change="saveChef(chef)">
                                                    <option :value="null">Vælg {{ idx + 1 }}. kok ...</option>
                                                    <option :value="person.id" v-for="person in persons">{{ person.name }}</option>                                            
                                                </select>
                                            </span>
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-user"></i>
                                            </span>                                    
                                        </p>
                                    </div>                                  
                                </div>

                                <div class="column is-paddingless is-1">                                                                       
                                </div>
                            </div>   
                            
                            <div class="meal-chef-row columns is-mobile is-marginless">                                
                                
                                <div class="column is-paddingless is-1" >                                    
                                </div>
                            
                                <div class="column is-paddingless is-10" >
                                    <div class="field has-addons">
                                        <div class="control is-expanded">
                                            <p class="control has-icons-left is-fullwidth">
                                                <input class="input" type="text" v-model="commonMeal.note" @change="saveNote(commonMeal)" placeholder="[Noter]">
                                                <span class="icon is-small is-left">
                                                    <i class="fas fa-info"></i>
                                                </span>
                                            </p>
                                        </div>
                                        <div class="control">
                                            <button type="submit" class="button" :disabled="calcMealTitleClass(commonMeal.chefs) != 'meal-chefs-ok'" @click="loadShoppingInfoModal(commonMeal)">
                                                <span class="icon is-small is-left">
                                                    <i class="fas fa-shopping-basket"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="column is-paddingless is-1">                                                                      
                                </div>
                            </div>
                        </div>

                        <div class="box meal-reservation-group" v-for="group in commonMeal.registrationGroups">
                            
                            <div class="meal-reservation-row columns is-mobile is-marginless" v-for="(registration, index) in group.registrations" :class="calcMealRowClass(registration.regNo)">
                                <div class="column is-paddingless is-1" >
                                    <span v-show="registration.attending" class="icon is-small" style="vertical-align:text-bottom;">
                                          <i class="fas fa-check-circle"></i>
                                    </span>
                                </div>							
                                
                                <div class="column is-4 is-paddingless">								
                                    {{ registration.personName }}							
                                </div>                            
                                
                                <div class="column is-7 is-paddingless">                                
                                    <!-- This level is need to keep the radio together in the column (so it doesn´t split line when resizing) -->
                                    <nav class="level">                                         
                                        <div class="level-left">
                                            <div class="level-item">
                                                <div class="control">
                                                    <label class="radio">
                                                        <input type="radio" :value="true" v-model="registration.attending" @change="saveRegistration(registration)" >
                                                        Ja
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" :value="false" v-model="registration.attending" @change="saveRegistration(registration)">
                                                        Nej
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </nav>                                
                                </div>
                            </div>
                        </div>                                                   
                    </div>
                </div>               
            </div>        
        </section>

        <div id="shoppingInfoModal" class="modal" :class="{ 'is-active' : shoppingInfoModalActive }" v-if="shoppingInfoData">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title has-text-centered">{{ shoppingInfoData.dayName }} {{ shoppingInfoData.dateName }}</p>
                    <button class="delete" aria-label="close" @click="hideShoppingInfoModal()"></button>
                </header>
                <section class="modal-card-body">                     
                    
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label">Antal</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">
                                <p class="control has-icons-left">
                                    <input disabled class="input" type="text" :value="calcShoppingInfoAdults(shoppingInfoData)">
                                    <span class="icon is-left">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="field is-narrow">
                                <p class="control has-icons-left is-narrow">
                                    <input disabled class="input" type="text" :value="shoppingInfoData.children">
                                    <span class="icon is-left">
                                        <i class="fas fa-child"></i>
                                    </span>                                    
                                </p>
                            </div>                            
                        </div>
                    </div>
            
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label">Budget (kr)</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">                                    
                                <p class="control has-icons-left">                                        
                                    <input disabled class="input" type="text" :value="shoppingInfoData.budget">                                        
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-balance-scale"></i>
                                    </span>                                          
                                </p>                                                                    
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal" v-for="expense in shoppingInfoData.expenses">
                        <div class="field-label">
                            <label class="label">Indkøb (kr) {{ expense.personName }}</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">                                    
                                <p class="control has-icons-left">                                        
                                    <input class="input" type="text" v-model="expense.amount" placeholder="[Beløb]" @change="saveExpense(expense)">                                        
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-coins"></i>
                                    </span>                                          
                                </p>                                                                    
                            </div>                            
                        </div>                        
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success" @click="hideShoppingInfoModal()">Luk</button>                    
                </footer>
            </div>
      </div>

    </div>

    <script type="text/javascript">
        var router = new VueRouter({
            mode: 'history',
            routes: []
        });
      
        var vm = new Vue({
            router,
            el: '#app',
            methods: {
                nextday() {                               
                    if (this.focusMealIdx >= this.commonMeals.length -1) {
                        this.loadMeals("nextweek", () => { this.focusMealIdx = 0; });                    
                        return;
                    }
                    
                    this.loadMeals("week", () => { this.focusMealIdx++; });       
                },
                previousday() {                                
                    if (this.focusMealIdx <= 0) {
                        this.loadMeals("previousweek", () => { this.focusMealIdx = this.commonMeals.length -1; });
                        return;   
                    }                
                    
                    this.loadMeals("week", () => { this.focusMealIdx--; });                   
                    
                },
                loadShoppingInfoModal(meal) {
                    axios
                        .get(`${baseApiUrl}/commonmeals/shoppinginfo`, 
                            {
                                    params : { mealId : meal.id }
                            }
                        )
                        .then(response => { 
                            this.shoppingInfoModalActive = true;
                            this.shoppingInfoData = response.data;                                     
                        })
                        .catch(e => {
                            alert(`Error fetching shopping info for ${actionName}: ${e}`)
                                console.log(e);
                        });                    
                },
                hideShoppingInfoModal(meal) {
                    this.shoppingInfoModalActive = false;
                    this.shoppingInfoData = null;
                },
                previousweek() {
                    this.loadMeals("previousweek");
                },
                nextweek() {
                    this.loadMeals("nextweek");
                },
                calcShoppingInfoAdults(shoppingInfoData) {
                    if (shoppingInfoData.vegetarians == 0) {
                        return shoppingInfoData.adults;
                    }
                    if (shoppingInfoData.vegetarians == 1) {
                        return `${shoppingInfoData.adults} (1 vegetar)`;
                    }
                    return `${shoppingInfoData.adults} (${shoppingInfoData.vegetarians} vegetarer)`;

                },
                loadMeals(actionName,onSuccess) {
                    onSuccess = onSuccess || (_ => {});
                    let sortExpr = this.$route.query.s || "";
                    console.log("sortExpr: " + sortExpr);

                    axios
                        .get(`${baseApiUrl}/commonmeals/list/${actionName}`, 
                            {
                                    params : { weekDate : this.weekDate, sortExpr : sortExpr }
                            }
                        )
                        .then(response => { 
                            this.weekDate = response.data.weekDate,               
                            this.commonMeals = response.data.meals;
                            this.persons = response.data.persons;
                            this.pageSubtitle = response.data.title;  
                            onSuccess();                                            
                        })
                        .catch(e => {
                            alert(`Error fetching meals for ${actionName}: ${e}`)
                                console.log(e);
                        })

                },
                calcMealRowClass(regNo) {
                    return (regNo % 2 == 0) ? "meal-reservation-row-even" : "meal-reservation-row-odd";                
                },
                calcMealTileClass(mealIdx) {                
                    // Only show the active meal on mobile displays
                    return mealIdx == this.focusMealIdx  
                        ? ""
                        : "is-hidden-mobile";                    
                },
                calcMealTitleClass(chefs) {
                    return chefs.every(x => x.personId != null) 
                        ? "meal-chefs-ok" 
                        : chefs.some(x => x.personId != null) ? "meal-chefs-missingsome" : "";
                },
                calcChefClass(chef) {                
                    return chef.personId != null ? ["meal-chef-ok", "fa-check"] : "fa-user";
                },
                saveRegistration(registration) {                
                    axios
                        .put(`${baseApiUrl}/commonmeals/registrations`, registration)
                        .then(response => {
                            console.log("Saved registration: " + registration.id);
                        })                
                        .catch(e => {
                            alert("Error saving registration: " + e)
                            console.log(e);
                        })
                },
                saveChef(chef) {
                    axios
                        .put(`${baseApiUrl}/commonmeals/chefs`, chef)
                        .then(response => {
                            console.log("Saved chef: " + chef.id + " personId: " + chef.personId);
                        })                   
                        .catch(e => {
                            alert("Error saving chef: " + e)
                            console.log(e);
                        })                    
                },
                saveNote(meal) {
                    axios
                        .put(`${baseApiUrl}/commonmeals/note`, { id : meal.id, note : meal.note })
                        .then(response => {
                            console.log("Saved note: " + meal.id + " note: " + meal.note);
                        })                   
                        .catch(e => {
                            alert("Error saving chef: " + e)
                            console.log(e);
                        })         
                },
                saveExpense(expense) {
                    axios
                        .put(`${baseApiUrl}/commonmeals/expense`, expense)
                        .then(response => {
                            console.log(`Saved expense ${expense.id} amount: ${expense.amount} for ${expense.personName}`);
                        })                   
                        .catch(e => {
                            alert("Error saving expense: " + e)
                            console.log(e);
                        })         
                }                    
            },
            created() {
                this.loadMeals("activeweek", () => { this.focusMealIdx = Math.max(0, this.commonMeals.findIndex(x => x.isActiveMeal)); });                           
            },
            data: {            
                focusMealIdx: -1,
                pageTitle: "Buske bofælleskab",
                pageSubtitle : "Fællesspisning",
                weekDate: null,       
                commonMeals: [],
                persons: [],
                shoppingInfoModalActive: false,
                shoppingInfoData: {
                    expenses : []
                }
            } 
        });
    </script>
  </body>
</html>
