.tile {
    margin: 0.1rem;
    border-radius: 14px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.radio {
    padding-left:0.5rem;
    padding-right:0.5rem;
}

.section {
    padding: 1.5rem 1.5rem;
}

.meal-header-box {
    border: 1px solid black;        
}

.meal-header-box-ok {
    border: 1px solid black;    
    box-shadow: 8px 8px 60px rgba(0, 230, 10, 0.4);
}

.meal-reservation-group {
    border-radius: 8px;
    border: 1px solid black;
    overflow: hidden;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.meal-reservation-row {    
    padding: 6px;
}

.meal-reservation-row-even {
    background: black;
        
}

.meal-reservation-row-odd {
    background: "#1c2020";
}